<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MemberMapper">


    <!--总客数-->
    <select id="getMemberList" resultType="Gbm01">
        select * from gbm01 where gba00c = #{compId}
    </select>



</mapper>